[submodule "visualwakeup_aesd"]
	path = visualwakeup_aesd
	url = https://github.com/arpit6232/visualwakeup_aesd
[submodule "arduino-library"]
	path = arduino-library
	url = https://github.com/arpit6232/arduino-library
